<section class="locations-container">
    <section class="location-card" ng-repeat="country in travelInfo">
        <div class="image-container">
          <img ng-src="{{country.image}}" alt="{{country.country}}">
        </div>
        <div class="location-inner-left">
            <h1>{{country.country}}</h1>
            <p>{{country.desc}}</p>
        </div>
        <div class="location-inner-right">
            <h3>Package Start At ${{country.price}}</h3>
            <button ui-sref="packages({country: country.country})">See country packages</button>
        </div>
    </section>
</section>
